html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#title {
    position: absolute;
    top: 5px;
    left: 20px;
    width: auto;
    height: auto;
    z-index: 1000;
}

#controlDiv {
    position: absolute;
    background-color: rgba(255,255,255,0.9);
    height: 500px;
    width: 375px;
    bottom: 185px;
    left: 20px;
    z-index: 1001;
}

#legendDiv {
    position: absolute;
    background-color: rgba(255,255,255,0.9);
    bottom: 20px;
    left: 20px;
    width: 375px;
    height: 150px;
    z-index: 1001;
}

#overview {
    position: absolute;
    bottom: 85px;
    right: 55px;
    width: 400px;
    height: 400px;
    border: 2px solid #66C2A5;
    z-index: 1000;
    resize: both;
    overflow: hidden;
    direction: rtl;
    visibility: hidden;
}

#switch {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.titleText{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 900 !important;
    font-size: 60px !important;
    color: #404040;
}

.subtitleText{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500 !important;
    font-size: 30px !important;
    color: #404040;
    text-align: left
}

#titleBox {
   padding: 10px; 
}

#textBox {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
    overflow-y: auto;
    height: 375px;
}

.infoText {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300 !important;
    font-size: 17px !important;
    margin-bottom: 10px !important;
    margin-top: 0px !important;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600 !important;
    font-size: 23px !important;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500 !important;
    font-size: 17px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

h2.desc {
    padding-left: 3px;
    padding-bottom: 5px;
}

h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300 !important;
    font-size: 17px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

h3.desc {
   padding-left: 3px;
   padding-bottom: 10px;
   padding-right: 5px;
}

/********Popup Styling********/

.esri-ui {
    z-index: 1002;
}

.esri-popup__main-container {
    border-radius: 4px !important;
    border: 0px solid #000;
    /*width: 500px !important;*/
    width: 550px !important;
    height: auto;
}

.esri-popup__title {
    padding: 5px !important;
}

.esri-popup__header-title {
    margin: 0px 0px 0px 0px !important;
    padding-bottom: 0px;
}

.esri-popup__header-title:hover {
    background-color: rgba(255,255,255, 0.9);
}

.esri-popup__button {
    color: #404040 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.esri-popup__button:hover {
    color: #d53e4f !important;
    background-color: transparent !important;
}

/********Toggle Switch********/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22.4px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17.5px;
  width: 17.5px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FC8D62;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17.25px);
  -ms-transform: translateX(17.25px);
  transform: translateX(17.25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 22.4px;
}

.slider.round:before {
  border-radius: 50%;
}

/***************Nav Button Styling*************/

.esri-zoom  {
  background-color: transparent !important;
}

.esri-ui-corner .esri-component {
  box-shadow: none !important;
}

.esri-zoom .esri-widget--button:last-child {
  border-top: 0px solid #000000 !important;
}

.esri-navigation-toggle:hover,
.esri-navigation-toggle:focus {
  background-color: transparent !important;
}

.esri-zoom .esri-widget--button {
  color: #000 !important;
  background-color: #66C2A5 !important;
  border: 0px solid #000 !important;
  border-radius: 25% !important;
  margin-top: 3px !important;
}

.esri-widget--button:hover {
  background-color:  #FC8D62 !important;
  color: #000 !important;
}

/********Legend Styling********/
#legendBox {
  position: absolute;
  left: 15px;
  top: 15px;
}

ol.zoneLeg {
  list-style: none;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

li.legend {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;    
  position: relative;
  font-size: 17px !important;
  color: #404040 !important;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;   
}

li.legend:before {
  content: '';
  display: block;
  float: left;
  line-height: 20px;
  margin-left: -20px;
  text-align: center;
  height: 20px;
  width: 40px;
  border-radius: 10%;
}

li.legend:nth-child(1):before {
  background-color: #66C2A5;
  margin-right: 6px;    
}

li.legend:nth-child(2):before {
  background-color: #8DA0CB;
  margin-right: 6px;    
}

li.legend:nth-child(3):before {
  background-color: #FC8D62;
  margin-right: 6px;    
}

/***********Info Button************/

.esri-icon-maps {
    position: absolute;
    bottom: 85px;
    right: 15px;
    height: 32px;
    width: 32px;
    z-index: 1001;
    color: #000 !important;
    background-color: #66C2A5 !important;
    border: 0px solid #000 !important;
    border-radius: 25% !important;
    cursor: pointer
}

.esri-icon-collapse {
    position: absolute;
    bottom: 85px;
    right: 16px;
    height: 33px;
    width: 33px;
    z-index: 1001;
    color: #000 !important;
    background-color: #66C2A5 !important;
    border: 0px solid #000 !important;
    border-radius: 25% !important;
    cursor: pointer
}

.esri-icon-maps:hover {
    background-color:  #FC8D62 !important;
    color: #000 !important;
}

.esri-icon-collapse:hover {
    background-color:  #FC8D62 !important;
    color: #000 !important;
}
